.field_with_errors {
  display: inline-block;
}

.jumbotron {
  background-image: image-url('university_lessons.jpg');
  background-size: cover;
}

.text-center p {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 425px) {
  .between {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.field_with_errors {
  width: 100%;
}
